#locationForm,
#submit {
    margin: 10px;
}

#data {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

#subheading {
    grid-area: 1 / 1 / 2 / 3;
}

#temps {
    grid-area: 2 / 1 / 5 / 2;
}

#precipiation {
    grid-area: 2 / 2 / 3 / 3;
}

#winds {
    grid-area: 3 / 2 / 4 / 3;
}

#uv {
    grid-area: 4 / 2 / 5 / 3;
}

#sunrise {
    grid-area: 5 / 1 / 6 / 2;
}

#sunset {
    grid-area: 5 / 2 / 6 / 3;
}

#subheading,
#temps,
#precipitation,
#winds,
#uv,
#sunrise,
#sunset {
    border: solid 1px black;
}